.skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    background: linear-gradient(45deg, rgb(212, 0, 255), rgb(53, 53, 214));
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-top: 20px;
    width: 60px;
    height: 60px;
    transition: all 0.3s ease, background 1s ease;
    background-size: 200% 100%;
    background-position: right bottom;
}

.skill-card h2 {
  border-bottom: none;
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
}

.skill-card::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background-color: #1a1a1a;
  z-index: -1;
  border-radius: 10px;
  transition: all 0.3s ease, background 1s ease;
}

.skill-card:hover {
  transform: translateY(-5px);
  background-position: left bottom;
}

.svg-icon {
    object-fit: contain;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.about-skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 95vw;
  max-width: 600px;
}