.project-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    background-color: #283063;
    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.project-card h2 {
    margin-top: 0;
}

.project-card img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
}

.project-card p {
    margin-bottom: 10px;
}

.project-card a {
    text-decoration: none;
    color: #333;
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 5px;
}

.project-card a:hover {
    background-color: #e0e0e0;
}

.project-card:nth-child(odd){
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin-top: 20px;
    margin-right: 10vw;
}

.project-card:nth-child(even){
    display: flex;
    flex-wrap: wrap;
    align-items: right;
    justify-content: right;
    text-align: right;
    margin-top: 20px;
    margin-left: 10vw;
    align-content: right;
}

.project-cards {
    display: flex;
    flex-direction: column;
}