.project-card {
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
}


.project-card img {
    width: 80vw;
    max-width: 500px;
    border-radius: 8px;
    border: 2px solid rgb(255, 255, 255);
    transition: transform 0.3s ease-in-out;
    margin-bottom: 10px;
}

.project-card img:hover {
    transform: translateY(-10px);
}

.project-card p {
    font-size: clamp(0.7rem, 2vw, 1rem);
    margin: 10px;
    border-top: 2px solid rgba(122, 65, 255);
    border-bottom: 2px solid rgb(122, 65, 255);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.project-card h3 {
    font-size: clamp(1.5rem, 3vw, 2rem);
    margin: 10px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.project-card a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s ease-in-out;
}

.project-card a:hover {
    transform: scale(1.04);
    color: rgb(200, 211, 255);
}

.project-card:nth-child(odd){
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    flex-direction: row-reverse;
    animation: slideInFromLeft 1s ease-in-out;
}

.project-card:nth-child(even){
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    align-content: center;
    flex-direction: row;
    animation: slideInFromRight 1s ease-in-out;
}

.project-cards {
    display: flex;
    flex-direction: column;
}

.project-info {
    background-color: rgba(0, 0, 0, 0.785);
    max-width: 400px;
    width: 90%;
    margin-right: -40px;
    margin-left: -40px;
    padding: 20px;
    z-index: 1;
    border-radius: 8px;
    margin-bottom: 10px;
}

@media (max-width: 700px) {
    .project-card:nth-child(odd){
        flex-direction: column-reverse;
        text-align: center;
    }
}

@media (max-width: 700px) {
    .project-card:nth-child(even){
        flex-direction: column-reverse;
        text-align: center;
    }
}