.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    background-color: #283063;
    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    min-width: 300px;
    margin: 10px;
}

.project-card h2 {
    margin-top: 0;
}

.project-card img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
}

.project-card p {
    margin-bottom: 10px;
}

.project-card a {
    text-decoration: none;
    color: #333;
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 5px;
}

.project-card a:hover {
    background-color: #e0e0e0;
}

.project-cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start of the container */
}

.project-card-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    background-color: #283063;
    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    min-width: 300px;
    margin: 10px;
}